{% extends 'base.html' %}

{% load static %}


{% block title %}
    发布帖子
{% endblock %}


{% block content %}
    <div class="row mb-5">
        <div class="col-md-10 offset-md-1">
            <div class="mt-2">
                <form method="POST"
                      enctype="multipart/form-data" action="{% url 'posts:add-post' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" id="submit" name="submit"
                       class="btn btn-outline-success float-right mt-3" value="确认发布">
                </form>

            </div>

        </div>

    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
      {% ifequal msg 'ko' %}
        tips('好气啊，提交失败啦', 'danger');
      {% endifequal %}
    </script>
{% endblock %}
