{% extends 'base.html' %}

{% load post_tags %}

{% block title %}
    版块详情
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% include 'posts/list.html' with posts=posts %}
            {% if not posts %}
                <p>暂无帖子</p>
            {% endif %}
        </div>
        <div class="col-md-3">
            <h6 class="border-bottom border-gray pb-2">版主</h6>
            {% include 'users/item.html' with user=topic.user %}
            {% if request.user.is_staff %}
                <div class="mt-2">
                    <a href="javascript:void(0)" class="card-link badge badge-light text-red ml-3">
                        开启版块禁言
                    </a>
                </div>
            {% endif %}
            <h6 class="border-bottom border-gray pb-2 mt-3">热门帖子</h6>
            {% get_hot_posts as hot_posts %}
            {% include 'posts/hot-list.html' with posts=hot_posts %}

        </div>
    </div>
{% endblock %}